* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  color: blueviolet;
}

h2 {
  color: rgb(113, 215, 34);
}

h3 {
  color: #ff6347;
}

section {
  width: 10vw;
  height: 10vh;
  background-color: rgb(240, 15, 15);
}
div {
  width: 100%;
  height: 100%;
  background-color: rgb(173, 23, 23);
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5vh;
  text-transform: capitalize;
  text-align: right;
  text-decoration: line-through;
}

#box {
  border: 10px dotted red;
  padding: 20vh;
  margin: 20px 0;
}

.bkg {
  background-image: linear-gradient(to left, rgba(0, 128, 0, 0)),
    url("https://images.pexels.com/photos/33866528/pexels-photo-33866528.jpeg");
  height: 75vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(1.5);
  filter: blur(1.5);
}
/* span is a inline elements that takes onky the specific height weight of the characters written. */
span {
  background-color: rgb(137, 43, 43);
  width: 200px;
  height: 200px;
  display: block;
}

.block {
  width: 200px;
  background-color: teal;
}

.b_2 {
  display: inline;
  display: none;
}

.fa-solid {
  color: rgb(83, 201, 60);
}

.shadow {
  color: rgba(220, 20, 60, 0.745);
  height: 200px;
  width: 200px;
  box-shadow: 4px 2px 4px orange;
}

.text {
  text-shadow: 2px 4px 5px red;
}

.parent {
  font-size: 200px;
  color: rgb(254, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: aliceblue;
}

.childern {
  background: inherit;
}
