* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  color: blueviolet;
}

h2 {
  color: rgb(113, 215, 34);
}

h3 {
  color: #ff6347;
}

section {
  width: 10vw;
  height: 10vh;
  background-color: rgb(240, 15, 15);
}
div {
  width: 100%;
  height: 100%;
  background-color: rgb(173, 23, 23);
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5vh;
  text-transform: capitalize;
  text-align: right;
  text-decoration: line-through;
}

#box {
  border: 10px dotted red;
  padding: 20vh;
  margin: 20px 0;
}

.bkg {
  background-image: linear-gradient(to left, rgba(0, 128, 0, 0)),
    url("https://images.pexels.com/photos/33866528/pexels-photo-33866528.jpeg");
  height: 75vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
  filter: brightness(1.5);
  filter: blur(1.5);
}
